### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [29]:
# create a summary table for the total number of unique players
count = len(purchase_data["SN"].unique())
summary_count = pd.DataFrame({"Total Number of Players": [count]})
summary_count

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# calculate the number of unique items sold
items = len(purchase_data["Item Name"].unique())

# calculate the average price and round 2 decimals
ave_price = round(purchase_data["Price"].mean(), 2)

# calculate the total purchases
num_purchases = len(purchase_data)

# calculate the total revenue and round 2 decimals
total_rev = round(purchase_data["Price"].sum())

# create a summary data table with the above summary data
summary_table = pd.DataFrame({"Number of Unique Items":[items],
                             "Average Price": [ave_price],
                             "Number of Purchases": [num_purchases],
                             "Total Revenue": [total_rev]})

# convert average price to float and add $ sign
summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("${:,.2f}".format)

# convert total revenue to float and add $ sign
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)

# print data table
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,380.00

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:
# # need to get rid of duplicate counts

no_dups = purchase_data.drop_duplicates(subset =["SN"])

gender = no_dups["Gender"].value_counts()
gender_total = no_dups["Gender"].count()
gender_pct = round((gender / gender_total) * 100, 2)

gender_summary = pd.DataFrame({"Total Count": gender,
                              "Percentage of Players": gender_pct})



gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{:,.2f}".format)

gender_summary

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
gender_counts = purchase_data.groupby("Gender")["Price"].count()
gender_ave_price = purchase_data.groupby("Gender")["Price"].mean()
gender_total_price = purchase_data.groupby("Gender")["Price"].sum()

total_ave_purch = (gender_total_price/ gender)

gender_detail = pd.DataFrame({"Purchase Count": gender_counts,
                              "Average Purchase Price": gender_ave_price,
                              "Total Purchase Value": gender_total_price,
                             "Avg Total Purchase Per Person": total_ave_purch})

gender_detail["Average Purchase Price"] = gender_detail["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_detail["Total Purchase Value"] = gender_detail["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_detail["Avg Total Purchase Per Person"] = gender_detail["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)
gender_detail

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [70]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
no_dups["Age Range"] = pd.cut(no_dups["Age"], bins, labels=bin_labels)
age_range_total = no_dups["Age Range"].value_counts()
age_counts = no_dups["Age Range"].count()
age_pct = age_range_total / age_counts * 100
age_demo = pd.DataFrame({"Age Range Total": age_range_total,
                        "Percent of Age Range":age_pct})
age_demo["Percent of Age Range"] = age_demo["Percent of Age Range"].astype(float).map("{:,.2f}".format)
age_demo.sort_index()

/Users/kerrykovacik/anaconda3/envs/PythonData3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       Age Range Total Percent of Age Range
<10                 17                 2.95
10-14               22                 3.82
15-19              107                18.58
20-24              258                44.79
25-29               77                13.37
30-34               52                 9.03
35-39               31                 5.38
40+                 12                 2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
purch_count = purchase_data.groupby("Age Range")["Purchase ID"].count()
purch_mean = purchase_data.groupby("Age Range")["Price"].mean()
purch_sum = purchase_data.groupby("Age Range")["Price"].sum()

ave_age_purch = purch_sum/age_range_total


purch_age_summary = pd.DataFrame({"Purchase Count": purch_count,
                                 "Average Purchase Price": purch_mean,
                                 "Total Purchase Value": purch_sum,
                                 "Avg Total Purchase Per Person": ave_age_purch})
purch_age_summary["Average Purchase Price"] = purch_age_summary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_age_summary["Total Purchase Value"] = purch_age_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_age_summary["Avg Total Purchase Per Person"] = purch_age_summary["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

purch_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame