### Heroes Of Pymoli Data Analysis

* While male players made up most of the purchasers (84%), female purchases (14%) spent an average of $0.40 (or approximately 10%) more per person.


* There appears to be a direct correlation between number of players and total purchase values for each age range. For example, 44.79% of players were between 20-24 and makes up 46.81% of total purchase values while the smallest number of players are in the 40+ age range and make up 2.08% of players and 1.61% of total purchase value. 


* Oathbreaker, Last Hope of the Breaking Storm is the most purchased item and has the largest total purchase value of any other game. However, by viewing the most purchased and most profitable, we are able to see that being a popular game doesn't necessarily mean that it's the most profitable. For this reason, I'd be curious to see what effects, if any, a price increase on Pursuit, Cudgel of Necromancy has. 
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# create a summary table for the total number of unique players
count = len(purchase_data["SN"].unique())
summary_count = pd.DataFrame({"Total Number of Players": [count]})
summary_count

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# calculate the number of unique items sold
items = len(purchase_data["Item Name"].unique())

# calculate the average price and round 2 decimals
ave_price = round(purchase_data["Price"].mean(), 2)

# calculate the total purchases
num_purchases = len(purchase_data)

# calculate the total revenue and round 2 decimals
total_rev = round(purchase_data["Price"].sum())

# create a summary data table with the above summary data
summary_table = pd.DataFrame({"Number of Unique Items":[items],
                             "Average Price": [ave_price],
                             "Number of Purchases": [num_purchases],
                             "Total Revenue": [total_rev]})

# convert average price to float and add $ sign
summary_table["Average Price"] = summary_table["Average Price"].astype(float).map("${:,.2f}".format)

# convert total revenue to float and add $ sign
summary_table["Total Revenue"] = summary_table["Total Revenue"].astype(float).map("${:,.2f}".format)

# print data table
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,380.00

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# create a data frame that excludes duplicate users
no_dups = purchase_data.drop_duplicates(subset =["SN"])

# create a table of value counts by gender
gender = no_dups["Gender"].value_counts()

# count the number of unique players by gender
gender_total = no_dups["Gender"].count()

# calculate the percentage of unique players by gender
gender_pct = round((gender / gender_total) * 100, 2)

# create a data frame that displays the gender counts and percentages
gender_summary = pd.DataFrame({"Total Count": gender,
                              "Percentage of Players": gender_pct})

# format the percentage to a float with 2 decimal points
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].astype(float).map("{:,.2f}".format)

# print the summary
gender_summary

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# calculate the purchase price, average and total by gender
gender_counts = purchase_data.groupby("Gender")["Price"].count()
gender_ave_price = purchase_data.groupby("Gender")["Price"].mean()
gender_total_price = purchase_data.groupby("Gender")["Price"].sum()

# calculate the average total purchase per unique person
total_ave_purch = (gender_total_price/ gender)

# create a data frame with the price, average, total and average purchase per person
gender_detail = pd.DataFrame({"Purchase Count": gender_counts,
                              "Average Purchase Price": gender_ave_price,
                              "Total Purchase Value": gender_total_price,
                             "Avg Total Purchase Per Person": total_ave_purch})

# format average price, total value and average total per person into floats with $ and 2 decimals
gender_detail["Average Purchase Price"] = gender_detail["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_detail["Total Purchase Value"] = gender_detail["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_detail["Avg Total Purchase Per Person"] = gender_detail["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

# print the summary data frame
gender_detail

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# create bins and labels for age ranges
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
no_dups["Age Range"] = pd.cut(no_dups["Age"], bins, labels=bin_labels)

# create a new variable for the value counts of the bin labels
age_range_total = no_dups["Age Range"].value_counts()

# count the number of unique people in each bin and the percent that count represents against the total
age_counts = no_dups["Age Range"].count()
age_pct = age_range_total / age_counts * 100

# create a data frame to summarize the age range counts and percentages
age_demo = pd.DataFrame({"Age Range Total": age_range_total,
                        "Percent of Age Range":age_pct})

# format the percent of age range to float with 2 decimals
age_demo["Percent of Age Range"] = age_demo["Percent of Age Range"].astype(float).map("{:,.2f}".format)

# print the data frame sorted by the index
age_demo.sort_index()

/Users/kerrykovacik/anaconda3/envs/PythonData3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

       Age Range Total Percent of Age Range
<10                 17                 2.95
10-14               22                 3.82
15-19              107                18.58
20-24              258                44.79
25-29               77                13.37
30-34               52                 9.03
35-39               31                 5.38
40+                 12                 2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# create age range bins on original data so that we include repeat (not just unique) purchases
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)

# count the # of purchases, average the prices, total the prices
purch_count = purchase_data.groupby("Age Range")["Purchase ID"].count()
purch_mean = purchase_data.groupby("Age Range")["Price"].mean()
purch_sum = purchase_data.groupby("Age Range")["Price"].sum()

# create a variable for the average total purchase per person
ave_age_purch = purch_sum/age_range_total

# create a summary data frame for purchase count, average purchase price, total purchase value and avg total purchase per person
purch_age_summary = pd.DataFrame({"Purchase Count": purch_count,
                                 "Average Purchase Price": purch_mean,
                                 "Total Purchase Value": purch_sum,
                                 "Avg Total Purchase Per Person": ave_age_purch})

# format last 3 columns to float, $, and 2 decimals
purch_age_summary["Average Purchase Price"] = purch_age_summary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_age_summary["Total Purchase Value"] = purch_age_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_age_summary["Avg Total Purchase Per Person"] = purch_age_summary["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)

# display the table
purch_age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# count the purchases by SN, the average purchase price by SN and the total purchase by SN
sn_count = purchase_data.groupby("SN")["Item Name"].count()
sn_ave_price = purchase_data.groupby("SN")["Price"].mean()
sn_total = purchase_data.groupby("SN")["Price"].sum()

# create a data frame to house these series
sn_summary = pd.DataFrame({"Purchase Count": sn_count,
                          "Average Purchase Price": sn_ave_price,
                          "Total Purchase Value": sn_total})

# sort the data frame by total purchase value
sn_summary = sn_summary.sort_values('Total Purchase Value', ascending=False)

# format the ave purchase price and total purchase value to float with 2 decimals
sn_summary["Average Purchase Price"] = sn_summary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sn_summary["Total Purchase Value"] = sn_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# print the summary data frame
sn_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# calculate the purchase count, total value and item price grouped by item id and name
pop_count = purchase_data.groupby(["Item ID", "Item Name"])["Item Name"].count()
pop_total = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum()
pop_price = pop_total / pop_count

# create a data frame with the above series
most_pop = pd.DataFrame({"Purchase Count": pop_count,
                         "Item Price": pop_price,
                        "Total Purchase Value": pop_total})

# sort based on purchase count by creating a new data frame so that formatting doesn't interfere with future uses of most_pop df
most_pop_count = most_pop.sort_values(by="Purchase Count", ascending=False)

# format to float, $, 2 decimals
most_pop_count["Item Price"] = most_pop_count["Item Price"].astype(float).map("${:,.2f}".format)
most_pop_count["Total Purchase Value"] = most_pop_count["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# print summary data frame
most_pop_count.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

###### Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# create a new data frame based on most_pop so we can sort and format based on total purchase value
most_pop_purch = most_pop.sort_values(by="Total Purchase Value", ascending=False)

# format to float, $, and 2 decimals
most_pop_purch["Item Price"] = most_pop_purch["Item Price"].astype(float).map("${:,.2f}".format)
most_pop_purch["Total Purchase Value"] = most_pop_purch["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# print summary data frame
most_pop_purch.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80